<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Add Book</h1>
<form th:action="@{/books/add}" th:object="${book}" method="post">
    <label for="authorid">Author ID:</label>
    <input type="text" id="authorid" th:field="*{authorid}"/>
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}"/>
    <label for="genreid">Genre ID:</label>
    <input type="text" id="genreid" th:field="*{genreid}"/>
    <button type="submit">Add</button>
</form>
</body>
</html>
