<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authors</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Authors</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Actions</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td th:text="${author.surname}"></td>
        <td>
            <a th:href="@{/authors/edit_author/{id}(id=${author.id})}">Edit</a>
            <a th:href="@{/authors/delete/{id}(id=${author.id})}">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{/authors/add_author}">Add Author</a>
</body>
</html>
