<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Readers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Readers</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Actions</th>
    </tr>
    <tr th:each="reader : ${readers}">
        <td th:text="${reader.id}"></td>
        <td th:text="${reader.name}"></td>
        <td th:text="${reader.surname}"></td>
        <td>
            <a th:href="@{/readers/edit_reader/{id}(id=${reader.id})}">Edit</a>
            <a th:href="@{/readers/delete_reader/{id}(id=${reader.id})}">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{/readers/add_reader}">Add Reader</a>
</body>
</html>