<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Loan</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Edit Loan</h1>
<form th:action="@{/loans/edit/{id}(id=${loan.loanid})}" th:object="${loan}" method="post">
    <label for="bookid">Book ID:</label>
    <input type="text" id="bookid" th:field="*{bookid}"/>
    <label for="readerid">Reader ID:</label>
    <input type="text" id="readerid" th:field="*{readerid}"/>
    <label for="loandate">Loan Date:</label>
    <input type="date" id="loandate" th:field="*{loandate}"/>
    <label for="returnedate">Return Date:</label>
    <input type="date" id="returnedate" th:field="*{returnedate}"/>
    <button type="submit">Save</button>
</form>
</body>
</html>
