<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Library Management System</h1>
<nav>
    <ul>
        <li><a th:href="@{/authors}">Authors</a></li>
        <li><a th:href="@{/books}">Books</a></li>
        <li><a th:href="@{/genres}">Genres</a></li>
        <li><a th:href="@{/loans}">Loans</a></li>
        <li><a th:href="@{/readers}">Readers</a></li>
    </ul>
</nav>
</body>
</html>
